html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-around;

	width: 100%;
	height: 100%;
}

.side-content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	overflow: hidden;
}

.side-content img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#game-port {
	display: block;

	margin: auto;
	
	flex-shrink: 0;

	aspect-ratio: 4/3;
	width: 90vw;
	max-width: 90vw; 
	height: 100vh;

	background-color: white;
	image-rendering: pixelated;
}

@media (min-aspect-ratio: 11/9) and (max-aspect-ratio: 4/5) {
	.side-content {
		display: none;	
	}
}

@media (max-aspect-ratio: 4/3), (max-width: 640px) {
	.flex-container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.side-content {
		width: 100%;
		height: auto;
	}

	.side-content img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	#game-port {
		width: 90vw;
		max-height: 80vh;
		height: auto;
	}
}
