* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.6em;
}

body, html {
	height: 100%;
}

#header {
	display: block;

	width: 100%;

	text-align: center;

	border-width: 2px;
	border-color: #244ee4;
	border-style: solid;

	background: #28aae0;
	color: white;
}

#header h1 {
	font-size: 3.0em;
	line-height: normal; 
}

#nav {
	display: block;

	width: 100%;

	background: #121212;
	color: white;

	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #1b1b1b;

	list-style: none;
}

#nav ul, #nav li {
	display: inline;
	font-size: 18px;
	margin-left: 2em;
}

#nav a {
	text-decoration: none;
	color: white;

	transition: 0.3s;
}

#nav a:hover {
	color: #28aae0;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;

	background: #2a2a2a;
	color: white;

	border-top-color: #2a2a2a;
	border-top-width: 1.6em;
	border-top-style: solid;

	border-bottom-color: #2a2a2a;
	border-bottom-width: 1.6em;
	border-bottom-style: solid;

	height: auto;
}

#frame {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	background: #4d4d4d;
	color: white;

	border-radius: 8px;
	border-color: #ebebed;
	border-style: solid;
	border-width: 2px;

	aspect-ratio: 9 / 16;
	width: 75vw;
}

.item-class {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;

	text-align: center;
	margin-block: 0;

	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #1b1b1b;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1b1b1b;

	background: #4d4d4d;
	color: #030604;
}

.item-class h3 {
	font-size: 1.6em;
	line-height: 1.0em;

	color: #2aabd8;

	margin: 0;
}

.item-class p {
	font-size: 1.2em;
	line-height: 1.0em;

	color: #ebebed;

	margin: 0;
}

.item-a, .item-b {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	width: 100%;

	text-align: left;
	line-height: 1.0em;

	gap: 1em;
	font-size: 1.4em;

	color: #ebebed;

	padding: 0.4em;
}

.item-a span, .item-b span {
	display: inline-block;
	vertical-align: top;
	line-height: 1.0em;
}

.item-a span:first-child,
.item-b span:first-child {
	margin: auto;
}

.item-a span:nth-child(2),
.item-b span:nth-child(2) {
	flex: 1;
}

.item-a ul, .item-a li
.item-b ul, .item-b li {
	display: block;
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	line-height: 0.5em;
}

.item-a {
	background: #707070;
}

.item-b {
	background: #888888;
}

@media (max-width: 750px) {
	#frame {
		width: 100vw;
		height: auto;
		border-width: 1px; 
	}

	#main {
		border-width: 0.4em;
	}
}

#footer {
	display: block;

	width: 100%;

	background: gray;
	color: white;

	border-top-color: #ebebed;
	border-top-width: 2px;
	border-top-style: solid;

	text-align: center;
}

#footer a {
	text-decoration: none;
}
